<ion-content>

  <div *ngIf="verProducts; else noVerProducts" class="contenedor">

    <div *ngFor="let api of listVerProduct" >

      <ion-card class="carta">

        <img [src]="api.image" alt="{{api.title}}" class="small-card-image">
        <ion-card-header class="contenido">


          <ion-card-title>{{api.title}}</ion-card-title>
          <ion-card-subtitle>ID: {{api.id}} </ion-card-subtitle>

        </ion-card-header>

        <ion-card-content class="contenido">

          <p class="small-card-price">{{api.price}}</p>
          <p class="small-card-category">Category: {{api.category}}</p>
          <p class="small-card-rating">⭐ {{api?.rating?.rate}} / 5 ({{api?.rating?.count}} reviews)</p>

          <ion-button class="boton" *ngIf="this.MostrarBotonCompra">Comprar</ion-button>
          <ion-button class="boton" *ngIf="this.MostrarBotonEliminar" (click)="EliminarProducto()">Borrar</ion-button>

          </ion-card-content>
        

      </ion-card>


    </div>

  </div>

  <ng-template #noVerProducts>
    <p>No existen productos</p>
  </ng-template>

</ion-content>
