.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: auto;
    border-radius: 10px;
    border: solid 5px #1da1f2;
    padding: 30px;
}

.title{
    text-align: center;
    margin-bottom: 20px;
}

.dato{
    margin-bottom: 15px;
    background-color: #1da1f2;
    border-radius: 10px;
    color: black;
}

.but{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton {
    width: 30%;
}